body {
	max-width: 1000px;
	float: none;
	margin: auto;
	background-color: #f9eaed;
}
header {
	width: 100%;
	display: inline-block;
	
}	
.aside-left {
	width: 20%;
	float: left;
	display: block;
	min-height: 300px;
	color: #ea8a91;
	
}
main {
	width: 58%;
	float: left;
	display: block;
	min-height: 300px;
	color: #ea8a91;
}
aside {
	width: 20%;
	float: right;
	display: block;
	min-height: 300px;
	color: #ea8a91;
}
footer {
	width: 100%;
	display: inline-block;
	background-color: #efa7ac
}
.left-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	color: #fff;
}
.center-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	color: #fff;
}
.right-footer {
	width: 33%;
	float: right;
	display: block;
	min-height: 200px;
	color: #fff;
}
.copyright {
	width: 100%;
	display: inline-block;
	background-color: #ffffff;
}
											/* -- this is where menu  css starts --  */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #efa7ac;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ea8a91;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #efa7ac;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}